qemu/
usr/
OVMF_files/
sev.img
sev.fd
nosev.fd
nosev.img
cloud-config-nosev.iso
cloud-config-sev.iso
stdout.log
ovmf/
.images/
kinetic-server-cloudimg-amd64.img
*.gz
*.fls
*.log
*.out
*.fdb_latexmk
*.bcf
*.bbl
*.aux
*.xml
*.blg
report/_minted-main/